.homepage {
  margin: 0;
  background: url("../images/background_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh; }

.homepage_container {
  background: rgba(188, 0, 255, 0.51);
  padding: 40px 50px;
  width: 38%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .homepage_container .navi_tabs {
    max-width: 100%; }
    .homepage_container .navi_tabs .nav-tabs {
      border: none;
      margin: 0 0 10px 0; }

.nav-tabs li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  border: none;
  text-align: center; }
  .nav-tabs li a:hover {
    background: none;
    border-bottom: 2px solid #ffda07; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: none;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #ffda07; }

p.header {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase; }

.signin-form input::placeholder, .signin-form input[type="text"], .signin-form input[type="password"], .signin-form input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(30, 0, 41, 0);
  color: #fff;
  text-align: left;
  outline: none;
  letter-spacing: 1px;
  font-size: 16px;
  background-color: rgba(30, 0, 41, 0.57);
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: 600;
  font-family: "Poiret One", cursive; }
.signin-form input[type="submit"] {
  padding: 10px;
  background-color: rgba(7, 4, 7, 0.71);
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; }
  .signin-form input[type="submit"]:hover {
    background-color: #ffda07; }

#joinus p, #signin p {
  padding: 0; }
#joinus input[type="text"], #signin input[type="text"] {
  margin-bottom: 15px; }
#joinus input[type="password"], #signin input[type="password"] {
  margin-bottom: 15px; }
#joinus input[type="button"], #signin input[type="button"] {
  margin-bottom: 15px; }
#joinus input[type="email"], #signin input[type="email"] {
  margin-bottom: 15px; }

header {
  width: 100%;
  height: 60px;
  background-color: purple; }
  header .container_header {
    width: 1120px;
    margin: 0 auto; }
    header .container_header .title {
      line-height: 60px;
      font-size: 25px;
      color: #fff;
      float: left; }
    header .container_header .username a {
      text-decoration: none;
      color: #ffffff;
      float: right;
      font-size: 25px;
      text-transform: capitalize;
      font-family: "Poiret One", cursive;
      font-weight: bold;
      margin-top: 10px; }

.todocontainer {
  overflow: hidden; }
  .todocontainer .left-panel {
    height: 100vh;
    width: 25%;
    background-color: black;
    text-align: center;
    overflow: hidden;
    float: left; }
    .todocontainer .left-panel .image_user {
      width: 100%;
      height: 100px;
      text-align: center;
      margin-top: 40px; }
      .todocontainer .left-panel .image_user img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%; }

.userdetails {
  margin-top: 30px; }
  .userdetails .name {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px; }
  .userdetails .company_name {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px; }

section {
  float: left;
  width: 50%; }

.todo {
  margin-top: 45px; }
  .todo form {
    width: 75%;
    margin: 0 auto;
    border: 1px solid;
    padding: 5px; }

.add {
  border: none;
  display: inline-block;
  background-color: cadetblue;
  padding: 5px 31px;
  color: white;
  font-weight: bold;
  font-size: 18px; }

.right-panel {
  float: right;
  width: 18%;
  height: 100vh;
  background-color: lightgray; }
  .right-panel ul {
    margin: 0;
    text-align: center;
    padding: 0; }
  .right-panel li {
    list-style: none;
    display: block;
    border-bottom: 1px solid;
    padding: 5px; }
  .right-panel a {
    text-decoration: none;
    color: black;
    font-size: 20px; }

.wrapper-usertodo {
  width: 1000px;
  margin: 0 auto;
  text-align: center; }
  .wrapper-usertodo .username h2 {
    font-size: 36px; }
  .wrapper-usertodo .username span {
    display: block;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; }

.usertodos table {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse; }
.usertodos th, .usertodos tr, .usertodos td {
  border: 1px solid #000000; }
.usertodos tbody tr td:nth-child(1) {
  width: 130px; }
.usertodos tbody tr td:nth-child(2) {
  width: 456px; }
.usertodos tbody tr td:nth-child(3) {
  width: 90px; }
.usertodos tbody tr td:nth-child(5) {
  padding: 5px; }

/*# sourceMappingURL=style.css.map */
